.banner_catalogo {
  background-color: #fafaff;
}

@media (min-width: 1908px) {
  .banner_catalogo {
     background-position: 0 260px;
  }
}

@media (min-width: 2208px) {
  .banner_catalogo {
     background-position: 0 320px;
  }
}

@media (min-width: 2508px) {
  .banner_catalogo {
     background-position: 0 370px;
  }
}


.explore{
    color: var(--primary-active);
    font-weight: 100;

}

.reviews-list::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  height: 10px;
}

.reviews-list::-webkit-scrollbar-track {
  background: transparent;
  height: 10px;
  border-radius: 4px;
}

.reviews-list::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

.reviews-list::-webkit-scrollbar-thumb:hover {
  background: var(--primary-active);
}
