.banner_catalogo {
  background-image: url(/static-assets/assets/area-privata.png);
  background-position: 0 230px;
}

@media (min-width: 1908px) {
  .banner_catalogo {
     background-position: 0 230px;
  }
}


.explore{
    color: var(--primary-active);
    font-weight: 100;

}