.banner_catalogo {
  background-color: #fafaff;
}

@media (min-width: 1908px) {
  .banner_catalogo {
     background-position: 0 260px;
  }
}

@media (min-width: 2208px) {
  .banner_catalogo {
     background-position: 0 320px;
  }
}

@media (min-width: 2508px) {
  .banner_catalogo {
     background-position: 0 370px;
  }
}


.explore{
    color: var(--primary-active);
    font-weight: 100;

}


