.banner_services {
  background-color: #fafaff;
}

.event_container {
  max-width: 400px;
  height: 328px;
}

.image_overlay {
  top: 0;
  left: 0;
  max-width: 400px;
  height: 250px !important;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.event_image {
  width: 100%;
  height: 250px;
  z-index: 1;
  object-fit: cover;
}

.open_event {
  width: 35%;
  min-width: 100px;
}

