@import url("/style/style.css");

.banner_section {
  height: 366px;
  width: 100%;
  padding-bottom: 90px;
  background-size: cover;
}

.layout_padding {
  padding-top: 90px;
}

.title_section {
  font-size: 50px;
  font-weight: 500 !important;
  color: black;
}

.best_taital {
  font-size: 60px;
  padding-bottom: 10px;
  margin: auto;
}

.box_main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px !important;
  display: flex;
}

.there_text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  display: flex;
  padding-bottom: 90px;
}

.explanation {
  color: black;
}

.explanation p {
  font-size: 1.2rem;
}

.read_more {
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
}
