@import url("style.css");

.banner_section {
  height: 476px;
  width: 100%;
  padding-bottom: 90px;
  background-size: cover;
}

.layout_padding {
  padding-top: 90px;
}

.title_section {
  font-size: 56px;
  font-weight: 500 !important;
  color: var(--primary-active);
}

.best_taital {
  font-size: 93px;
  padding-bottom: 10px;
  margin: auto;
}

.box_main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px !important;
  display: flex;
}

.there_text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  padding-bottom: 90px;
}

.read_more {
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
}

.services_section .service_type {
  font-weight: 550 !important;
  color: black;
  font-size: 45px;
}

.services_section .service {
  margin-top: 100px;
}

.services_section .service_title {
  font-size: 2.5rem;
}

.service img {
  width: 50%;
  height: 50%;
}

.service {
  gap: 18px;
}

.services_section .service:nth-child(odd) {
  flex-direction: row;
}

.services_section .service:nth-child(even) {
  flex-direction: row-reverse;
}

.list-group-item p {
  margin: 0;
}

.accordion-button:not(.collapsed) p {
  color: white;
}

.accordion-button p {
  font-size: 23px;
  margin: 0;
}

.accordion-collapse .accordion-body p {
  font-size: 23px;
  margin: 0;
}

.accordion-button:not(.collapsed) {
  background-color: var(--secondary-active);
}

.btn-secondary {
  font-size: 20px;
}

label.form-label {
  color: var(--secondary-active);
}

.nav-tabs .nav-item .nav-link {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:focus,
.nav-tabs .nav-item .nav-link:focus-visible,
.nav-tabs .nav-item .nav-link:hover {
  box-shadow: none !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 3px solid var(--primary);
  color: var(--primary-active) !important;
}

.bg-primary {
  background-color: var(--secondary) !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: var(--secondary-active) !important;
}

@media (max-width: 767px) {
  .service {
    flex-direction: column !important;
  }

  .service img {
    width: 100%;
  }
}
