.client-login-card {
  max-width: 400px;
  margin: 80px auto;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0px 13px rgba(0, 0, 0, 0.2);
}

.client-login {
  font-size: 1.375rem;
}

.client-login-header {
  height: 140px;
  background-color: #006af5;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
}

.client-login-card .form-label {
  font-size: 0.8125rem;
}

.client-login-card .form-control {
  background-color: #fdeae8;
  border: 0px;
}

.client-login-card .form-control:hover {
  background-color: #fce1de;
}

.toggle-password {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.client-login-button, .client-login-button:hover {
  background-color: #006af5;
  color: white;
  border-radius: 7px;
  border: none;
}
