.banner_services {
  background-color: #f9f9f9;
}

.article_img {
  max-width: 800px;
}

.text-black {
  color: black;
}

.title-hero {
  color: #333;
  font-size: 40px;
}

.other_news_list::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  height: 10px;
}

.other_news_list::-webkit-scrollbar-track {
  background: transparent;
  height: 10px;
  border-radius: 4px;
}

.other_news_list::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

.other_news_list::-webkit-scrollbar-thumb:hover {
  background: var(--primary-active);
}
