.banner_partners {
  background-color: #fafaff;
}

.partners_section .partner_logo {
  width: 100%;
  max-width: 300px;
}

.partner_title {
  font-size: 26px;
}

@media (max-width: 768px) {
  .partner_logo_container {
    display: flex;
    justify-content: center;
  }

  .partner_logo {
    width: 222px !important;
  }
}
