.banner_partners {
  background-color: #fafaff;
}

.title_section {
  font-weight: 550 !important;
}

.explanation {
  color: var(--primary);
}

.explanation p,
.explanation h2 {
  color: var(--primary) !important;
}

.accordion-body .name_attachment {
  color: var(--secondary-active);
}

.accordion-body .buttons a {
  font-size: 30px;
}

.logo {
  width: 100%;
  max-width: 490px;
}

.other_news_list::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  height: 10px;
}

.other_news_list::-webkit-scrollbar-track {
  background: transparent;
  height: 10px;
  border-radius: 4px;
}

.other_news_list::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

.other_news_list::-webkit-scrollbar-thumb:hover {
  background: var(--primary-active);
}

.category_service_name{
    color: var(--secondary-active);
    text-align: left;
}

.category_service img{
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.info .desc {
  color: var(--primary-active);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  background-color: transparent;
  height: 470px;
}

.card .card-img {
  height: 400px;
}

.tooltip .tooltip-inner {
  background-color: var(--secondary-active);
  color: #fff; /* Colore del testo */
  text-align: left; /* Allineamento testo a sinistra */
  max-width: 200px; /* (opzionale) Limita larghezza */
}