.banner_project {
  background-image: url(/static-assets/assets/banner-project.jpg);
}

.marketing_section {
  color: black;
  flex-wrap: nowrap;
}
.marketing_section {
  color: black;
  flex-wrap: nowrap;
}

.services_section .service_type {
  font-weight: 550 !important;
  /* color: black; */
  font-size: 45px;
}

.services_section .service {
  margin-top: 100px;
}

.services_section .service_title {
  font-size: 2.5rem;
}

.service img {
  width: 50%;
  height: 50%;
}

.service {
  gap: 18px;
}

.services_section .service:nth-child(odd) {
  flex-direction: row;
}

.services_section .service:nth-child(even) {
  flex-direction: row-reverse;
}

.addressee_section .addressee_title {
  font-size: 50px;
  font-weight: 500 !important;
}

.addressee_section img {
  width: 70px;
}

.addressee_text,
.target_text {
  font-size: 23px;
  color: var(--primary-active);
  width: 170px;
  word-break: break-word;
}

.imageContainer {
  height: 80px;
}

.aplication_scope_section .application_scope img {
  width: 70px;
}

.aplication_scope_text {
  font-size: 2rem;
  color: black;
}

.technology_section {
  padding-bottom: 90px;
}

.targets .target img {
  width: 70px;
}

.targets .target p {
  font-size: 23px;
  color: var(--primary-active);
}

@media (max-width: 992px) {
  .marketing_section h1 {
    font-size: 45px;
  }

  .addressee_text,
  .target_text {
    width: 100%;
  }
}
