.banner_services {
  background-image: url(/static-assets/assets/banner-servizi.jpg);
}

.services_section .services_section_description {
  font-size: 1.2rem;
  color: black;
}

.services_section .service_type {
  font-weight: 550 !important;
  color: black;
  font-size: 45px;
}

.services_section .service {
  margin-top: 100px;
}

.services_section .service_title {
  font-size: 2.5rem;
}

.services_section .service_description {
  font-size: 18px;
  color: black;
}

.service img {
  width: 50%;
  height: 50%;
}

.service {
  gap: 18px;
}

.services_section .service:nth-child(odd) {
  flex-direction: row;
}

.services_section .service:nth-child(even) {
  flex-direction: row-reverse;
}
