.banner_tecnologie {
  background-image: url(/static-assets/assets/banner-servizi.jpg);
}

.tech_section img {
  width: 70px;
}

.tech_text {
  font-size: 23px;
  color: var(--primary-active);
  width: 170px;
  word-break: break-word;
}

@media (max-width: 992px) {
  .tech_text {
    width: 100%;
  }
}
