.carousel-inner {
  height: 350px;
}

.carousel-inner img {
  width: 100%;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  margin: 0 3px 12px 3px;
  background: transparent;
  border: 1px solid #ffffff;
  transition: 0.5s;
}

.event-container {
  color: black;
}
