<content-type name="/component/access-to-finance" is-wcm-type="true">
	<label>product: Access To Finance</label>
	<form>/component/access-to-finance</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>false</content-as-folder>
	<previewable>false</previewable>
	<quickCreate>false</quickCreate>
	<quickCreatePath></quickCreatePath>
	<noThumbnail>true</noThumbnail>
	<image-thumbnail></image-thumbnail>
</content-type>
