<content-type name="/page/service_detail" is-wcm-type="true">
	<label>page: Service Detail</label>
	<form>/page/service_detail</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>false</content-as-folder>
	<previewable>true</previewable>
	<quickCreate>true</quickCreate>
	<quickCreatePath>/site/website</quickCreatePath>
	<noThumbnail>true</noThumbnail>
	<image-thumbnail></image-thumbnail>
</content-type>
